<widget 
	xmlns="http://www.w3.org/ns/widgets" 
	xmlns:gap="http://phonegap.com/ns/1.0" 
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="com.example.hello" 
	version="1.0.0">
	
	<gap:config-file platform="android" parent="/manifest">
		 <application android:debuggable="true" />
	</gap:config-file>
	
	<name>HelloWorld</name>
	<description>
		A sample Apache Cordova application that responds to the deviceready event.
	</description>
	<author email="dev@callback.apache.org" href="http://phonegap.com">
		Me
	</author>
	<content src="index.html" />
	<access origin="*" />
	<preference name="Fullscreen" value="true" />
	<preference name="WebViewBounce" value="true" />
</widget>